.footer-container{
    background-color: #00000028;
    padding: 3px 6px;
    text-align: center;
}

.footer-container p {
    color: #fff;
    font-size: 0.9rem;
}

.footer-container a {
    color: #054523;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #909090;
}